@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="POST">
        <label for="description"><input type="text" placeholder="description" name="description"/></label>
        <button type="submit" asp-action="FormSubmit">Process it!</button>
    </form>
</div>
